body {
	display: block;
	position: relative;
	min-height: 100%;
	max-width: 48rem;
	margin: 0 auto;
	padding: 0 5px;
	background-color: $color-bg;

	font-weight: 400;
	font-size: 14px;
	font-family: "IBM Plex Mono", monospace;
	line-height: 1.725;
	text-rendering: geometricPrecision;
	color: $color-text;
}
