$color-text: #22272a;
$color-text-light: #666;
$color-header: #58567c;
$color-accent: #cc2a41;

// https://www.colorhexa.com/0077aa
$color-link: #0077aa;
$color-link-visited: #aa0077;

$color-code: black;
$color-code-bg: #eee;
