::selection {background: $color-selection}

html {
	height: 100%;
}

a {
	text-decoration: none;
	color: $color-link;

	&:hover {
		text-decoration: underline;
	}
}

main {
	padding-bottom: 80px;
	position: relative; /* enable absolute positioning for aside */
}

ul {
	list-style-type: square;
}

.h-anchor {
	font-weight: 300;
	color: $color-text-very-light;
	text-decoration: none;
	display: none;

	&:hover {
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	&:hover .h-anchor {
		display: inline;
	}
}

h1 {
	font-size: 1.4rem;
	margin-top: 2.0rem;
	margin-bottom: 0;
}

h2 {
	font-size: 1.2rem;
	margin-top: 1.6rem;
	margin-bottom: 0;
}

h3 {
	font-size: 1.0rem;
	margin-top: 1.6rem;
	margin-bottom: 0;
}